@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 213 31% 94%;
  --foreground: 222 47% 11%;
  --card: 0 0% 100%;
  --card-foreground: 222 47% 11%;
  --popover: 0 0% 100%;
  --popover-foreground: 222 47% 11%;
  --primary: 217 91% 60%;
  --primary-foreground: 210 40% 98%;
  --secondary: 213 27% 84%;
  --secondary-foreground: 222 47% 11%;
  --muted: 214 32% 92%;
  --muted-foreground: 215 20% 50%;
  --accent: 25 95% 53%;
  --accent-foreground: 25 100% 94%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 210 40% 98%;
  --border: 213 27% 84%;
  --input: 213 27% 84%;
  --ring: 217 91% 60%;
  --radius: 0.75rem;
}

.dark {
  --background: 210 22% 10%;
  --foreground: 213 31% 91%;
  --card: 222 47% 11%;
  --card-foreground: 213 31% 91%;
  --popover: 222 47% 11%;
  --popover-foreground: 213 31% 91%;
  --primary: 217 91% 60%;
  --primary-foreground: 210 40% 98%;
  --secondary: 213 32% 25%;
  --secondary-foreground: 213 31% 91%;
  --muted: 217 33% 25%;
  --muted-foreground: 215 20% 65%;
  --accent: 25 95% 53%;
  --accent-foreground: 25 100% 94%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 210 40% 98%;
  --border: 217 33% 25%;
  --input: 217 33% 25%;
  --ring: 217 91% 60%;
}

body {
  @apply bg-background text-foreground antialiased transition-colors;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-secondary;
}
